ros_ws/
venv/
team_info.txt
*.pdf
*.png
requirements.txt
examples/
**/__pycache__/*
notes/review.aux
notes/review.fdb_latexmk
notes/review.fls
notes/review.log
notes/review.out
notes/review.synctex.gz
notes/review.toc
